/*Rogne img header footer*/
#imgh {
    height:500px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
footer img{
    height:200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: bottom;
}
/*teste pour l'en tête a voir sur la page acceuil*/
.entete h1 {
    position: absolute;
    bottom: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:80px;
}