/*Tentative d'animation*/
/* Overlay plein écran */

body {
    background-color: #006885;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
}
#consquence {
    background-image: url("../img/Consequence.jpg") ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#accueil {
    background-image: url("../img/head_foot1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#fish-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: #003366; /* fond opaque bleu foncé */
    pointer-events: none;
    z-index: 9999;
    display: none;
    overflow: hidden;
    user-select: none;
}
/*Rogne img header footer*/
#imgh {
    height:500px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
footer{
    text-align: center;
    margin-top: 5%;
}
/* adapter l'entete à la taille de la fenetre*/
header {
    position: relative;
    width: 100%;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 5px black;
}

header nav {
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

header nav a:hover {
    background: rgba(255, 255, 255, 0.2);
}
/*Style général*/
section {
    background-color: rgba(252, 252, 254, 0.5);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    text-justify: inter-word;
    color : black;
}
div{
    background-color: rgba(252, 252, 254, 0.5);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    text-justify: inter-word;
    color : black;
}
p a , li a {
    text-decoration: none;
    font-style: italic;
    color: dodgerblue;
}
/*Tableaux des especes menacer*/
table{
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: black;

}
thead tr{
    background-color: #006fff;
    border: black 5px;
}
tbody tr:nth-child(even) {
    background-color: #90c9ff;
}
tbody tr:nth-child(odd) {
    background-color: rgba(252, 252, 254, 0.5);
}
/*Carte*/
#zoneCarte{
    height: 400px;
    width: 1000px;
    margin: auto;
    border-radius: 10px;

}
/*Quiz*/
fieldset{
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(252, 252, 254, 0.5);
}
fieldset legend{
    color: black;
    padding: 10px;
    background-color: lightskyblue ;
    border: solid white 2px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

textarea{
    resize: none;
    width: 80%;
    height: 300px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
}
.boutonPoisson{
    position: relative;
    gap: 10px;
    background: none;
    cursor: pointer;
    border: none;
}
.PoissonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.boutonPoisson span{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: large;
    text-shadow: 1px 1px 2px #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.boutonPoisson:hover{
    transform: scale(1.05);
}
.poisson{
    width: 300px;
    height: auto;
}
#Quiz {
display: none;
}
